---
---
<h3>Unifyd Insight Overview</h3>
Watch the  <a href="{{ site.baseurl }}/Unifyd-Overview/">introduction video</a>
</p>
<section class="categories">
	{% assign categories = site.categories | sort %}
	{% for category in categories %}
		{% assign name = category[0] %}
		{% assign posts = category[1] %}
		{% assign size = posts | size %}
		<section class="category">
				<h3>
					{{ name | replace: "-", " " }}
				</h3>

			<ul>
				{% assign tutorials = posts | sort: "order_number" %}
				{% for tutorial in tutorials %}
					<li><a href="{{ site.baseurl }}{{ tutorial.url }}">{% include document-icon.html icon=tutorial.type %} {{tutorial.order_number}}. {{ tutorial.title }}</a></li>
				{% endfor %}
			</ul>
		</section>
	{% endfor %}
</section>
